// .components-layout{
//     display: inline-block;
    .logo {
        // margin-right: 142px;
        float: left;
     }
     .headerRight{
        float: right;
        display: flex;
    }
     .ant-layout-header .ant-menu{
        white-space: nowrap;
        flex: 1;
     }

    .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected{
        border-bottom: 0 solid #1890ff!important;
        color: rgb(8, 6, 6)!important;
        a{
            color: #000!important;
        }
    }
    .ant-menu-horizontal > .ant-menu-item a{
        color: #7F7F7F!important;
        display: flex;
        max-height: 100px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .navTitle{
            font-family: PingFangSC-Semibold, sans-serif;
            font-size: 18px;
            height: 25px;
            font-weight: 600;
        }
        span{
            // font-size: 14px;
            // transform: scale(0.8);
            font-size: 10px;
            font-weight: 400;
        }
    }
    .ant-menu-horizontal{
        border-bottom: 0 solid #f0f0f0;
    }
    .ant-menu-horizontal > .ant-menu-item a:hover {
        color: #000!important;
    }
    .ant-menu-horizontal > .ant-menu-item{
        border-bottom: 0 solid transparent!important;
    }
    .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item{
        margin: 0 25px!important;
    }
   
    .userItem{
        margin-left: 43px;
        display: flex;
        align-items: center;
        img{
            width: 54px;
            height: 54px;
            margin-right: 10px;
        }
        .userInfo{
            
            display: flex;
            flex-direction: column;
            max-height: 100px;
            justify-content: center;
            span:nth-child(1){
                color: #000;
                font-family: PingFangSC-Semibold, sans-serif;
                height: 22px;
                font-size: 16px;
                font-weight: 500;
            }
            span:nth-child(2){
                color: #6D6D6D;
                font-size: 14px;
            }
        }
       
    }
    .signOutBtn{
        margin-left: 44px;
        color: #9FA0A0;
        font-size: 14px;
        cursor: pointer;
    }
// }

